<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <listeners>
        <listener class-name="Selenium.Listeners"/>
        </listeners>
    <test verbose="2" preserve-order="true" name="/Users/maryannroshani/Projects/Introduction">
        <classes>
            <class name="Selenium.HomePage">
                <methods>
                    <include name="basePageNavigate"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>